.image-Slide {
  background-image: url("../../Assets/slide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.text-Slide {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 1rem;
}

.image-Head {
  animation: 3s forwards imageUp;
  background-image: url("../../Assets/slide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  margin-bottom: 4rem;
}

@keyframes imageUp {
  100% {
    height: 34vh;
  }
}

.text-Home-Hide {
  display: none;
}

.search-Hide {
  display: none;
}

.search-Location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

@media screen and (min-width: 500px) {
  .image-Slide {
    background-image: url("../../Assets/slide2.png");
  }
  .text-Slide {
    font-size: 1.8rem;
  }
  .image-Head {
    background-image: url("../../Assets/slide2.png");
    margin-bottom: 6rem;
  }
  @keyframes imageUp {
    100% {
      height: 35vh;
    }
  }
}

@media screen and (min-width: 800px) {
  .text-Slide {
    font-size: 1.8rem;
  }
  .image-Slide {
    background-image: url("../../Assets/slide3.png");
  }
  .image-Head {
    background-image: url("../../Assets/slide3.png");
    margin-bottom: 8rem;
  }
  @keyframes imageUp {
    100% {
      height: 38vh;
    }
  }
}
