.image-Slide {
  background-image: url("../../Assets/slide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.text-Slide {
  margin-bottom: 5rem;
  text-align: center;
}

.image-Head {
  animation: 4s forwards imageUp;
  background-image: url("../../Assets/slide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@keyframes imageUp {
  100% {
    height: 34vh;
  }
}

.text-Home-Hide {
  display: none;
}

.search-Hide {
  display: none;
}

.search-Location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.food-pref {
  background-color: #ffebb0;
  border-radius: 15px;
  padding: 7px;
  margin-bottom: 3vh;
  border: solid black 1px;
}

.barcode-logo {
  display: flex;
  justify-content: center;
  width: 9rem;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 500px) {
  .image-Slide {
    background-image: url("../../Assets/slide2.png");
  }
  .image-Head {
    background-image: url("../../Assets/slide2.png");
  }
  @keyframes imageUp {
    100% {
      height: 35vh;
    }
  }
}
@media screen and (min-width: 800px) {
  .image-Slide {
    background-image: url("../../Assets/slide3.png");
  }
  .image-Head {
    background-image: url("../../Assets/slide3.png");
  }
  @keyframes imageUp {
    100% {
      height: 38vh;
    }
  }
}