.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.window {
  position: relative;
}

.drawingBuffer {
  position: fixed;
}

.barcode-p {
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

video {
  display: flex;
  justify-content: center;
  height: 16rem;
  width: 17rem;
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 4rem;
  margin-bottom: 6rem;
  object-fit: cover;
}
@media screen and (min-width: 700px) {
  video {
    height: 30rem;
    width: 31rem;
  }
  
  .barcode-p {
    font-size: 1.1rem;
  }
}
