.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.window {
  position: relative;
}

.drawingBuffer {
  position: fixed;
}

.barcode-p {
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}

video {
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 35vh;
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 7vh;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  video {
    height: 45vh;
    width: 45vh;
  }
  
  .barcode-p {
    font-size: 1.2rem;
  }
}
