.more-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  opacity: 0.8;
  height: 4rem;
}

.more-button-style:hover {
  opacity: 0.5;
}

.hidden-button-style {
  display: none;
}

@media screen and (min-width: 700px) {
.more-button {
  height: 7rem;
  }
}