.salut{
    width: 100vw;
    height: 40vh;
}
.div-GifNotfound {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}
.txt-Pnotfound{
    text-align: center;
    font-size: 1.2rem;
}
