
h3 {
  color:darkgreen;
  font-size:0.9em;
  margin-left: 7px;
}

.label--value.high{
  color: #ff6347;
}

.label--value.moderate{
  color: #ffa500;
}

.label--value.low{
  color: #3cb371;
}

.AddSection{
  margin-top:10px;
}

.additives{
  margin-left: 7px;
}



.switch-Midllproduct {
  display: flex;
  font-size: large;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.environement-Switch-Product {
  margin-left: 5px;
}


.environement-Switch-Product2 {
  margin-left: 5px;
  color:#3cb371
}

.composition-Product {
  display: flex;
}

.composition-environement-Product {
  border: solid 1px black;
  border-radius: 10px;
  margin-top: 0.5rem;
  background-color: #ffebb05d;
  color: black;
  padding: 7px;
  font-size: 1rem;
  text-align: justify;
  width:100%;
}

.alergene-Component-Product {
  border: solid 1px black;
  border-radius: 5px;
  /* background-color: #ffebb0; */
  background-color: #ffebb05d;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
  color: black;
}

.alergene-Component-Product button {
  background-color: #ffebb0;
  border-radius: 10px;
  border: solid rgba(150, 160, 58, 0.295) 3px;
  display: flex;
}

.alergene-Component-Product button:hover {
  background-color: #f1cf68bb;
}

.alergene-Text-Product {
  display: none;
}

.alergene-Component-lvlup-Product {
  border: solid 1px black;
  border-radius: 5px;
  background-color: #ffebb05d;
  margin-top: 0.5rem;
  display: flex;
  padding: 1.5rem;
}

.alergene-Text-Unhide-Product {
  color: rgb(206, 73, 58);
}

.arow-Down-Hide-Product {
  display: none;
}

.le-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 80vw);
  overflow: scroll;
  height: 30vh;
}

.le-grid > .bestchoic {
  /* border: solid 2px black; */
  margin-left: 1rem;
  width: 70%;
  margin-bottom: 2rem;  
  background-color: #ffebb03a;
  border-bottom: solid 2px rgb(0, 0, 0);
  border-right: solid 2px rgb(0, 0, 0);
  border-top: solid 2px rgba(0, 0, 0, 0.253);
  border-left: solid 2px rgba(0, 0, 0, 0.253);
}

.le-grid > .bestchoic:hover {
  background-color: #ffebb05d;
  border: solid 2px rgba(0, 0, 0, 0.609);
  color: rgb(0, 65, 0);
}

.propos1 {
  display: flex;
}

.container-Img-Bestchoic {
  /* border: solid 1px black; */
  border-radius: 5%;
  padding: 1.2rem;
  margin: 2%;
}

.container-Infos-Bestchoic {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goproductlist {
  display: flex;
  justify-content: end;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
}

.nutri-score{
  display: flex;
  width: 33%;
  height: auto;
  margin-bottom: 1.5vh;
}

.healthy-name{  /*check start*/
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* SECTION PHOTO-NOM-LABELS */

.header-Product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-Left-Product {
  margin-top: 10px;
  margin-left: 10px;
}

.img-Left-Prod {
  width: 70%;
  border-radius: 10px;
}

.header-Right-Product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
  width: 50vw;
  height: 40vh;
}

.header-Right-Product p {
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
}

h1 {
  text-align:center;
  font-size: clamp(20px, 5vw, 35px);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

}

.labelsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.label{
  margin-left: 7px;
  margin-top: 3px;
}


@media (max-width: 800px){

  .header-Left-Product {
    min-width: 45vw;
  }

  .labelsContainer{
    flex-direction: column;
  }

  .label{
    max-height: 5vh;
  }
}


@media screen and (min-width: 800px) {

  .header-Left-Product {
    width: 25vw;
  }

  .label{
    max-height: 8vh;
  }

  .le-grid{
      height: 30vh;
    }

  .healthy-name  {
    font-size: 1rem;
    margin-top: 1rem;
  }
  /* .nutri-score{
    display: flex;
    width: 10rem;
    height: 4rem;
    margin-bottom: 1rem;
  } */
}

