h3 {
  color:darkgreen;
  font-size:0.9em;
  margin-left: 7px;
}

.label{
  margin-left: 7px;
}

.label--value.high{
  color: #ff6347;
}

.label--value.moderate{
  color: #ffa500;
}

.label--value.low{
  color: #3cb371;
}

.additives{
  margin-left: 7px;
}

.header-Product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.img-Left-Product {
  width: 20vw;
  max-width: 25vw;
  border-radius: 15px;
}

.img-Left-Prod {
  width: 70%;
  border-radius: 15px;
}

.header-Right-Product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
  width: 50vw;
  height: 50vh;
}

.header-Right-Product p {
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
}

.switch-Midllproduct {
  display: flex;
  font-size: large;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.environement-Switch-Product {
  margin-left: 5px;
}

.environement-Switch-Product:hover {
  color: #7a5c00;
}

.composiotion-Switch-Product:hover {
  color: #7a5c00;
}

.composiotion-Product {
  display: flex;
}

.composition-environement-Product {
  border: solid 1px black;
  border-radius: 10px;
  margin-top: 0.5rem;
  background-color: #ffebb0;
  color: black;
}

.alergene-Component-Product {
  border: solid 1px black;
  border-radius: 5px;
  background-color: #ffebb0;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
  color: black;
}

.alergene-Component-Product button {
  background-color: #ffebb0;
  border-radius: 10px;
  border: solid rgba(150, 160, 58, 0.295) 3px;
  display: flex;
}

.alergene-Component-Product button:hover {
  background-color: #f1cf68bb;
}

.alergene-Text-Product {
  display: none;
}

.alergene-Component-lvlup-Product {
  border: solid 1px black;
  border-radius: 5px;
  background-color: #ffebb0;
  margin-top: 0.5rem;
  display: flex;
  padding: 1.5rem;
}

.alergene-Text-Unhide-Product {
  color: rgb(206, 73, 58);
}

.arow-Down-Hide-Product {
  display: none;
}

.le-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 80vw);
  overflow-x: scroll;
  scrollbar-width: none;
  height: 15vh;
}

.le-grid > .bestchoic {
  border: solid 2px black;
  margin-left: 1rem;
  width: 70%;
}

.propos1 {
  display: flex;
}

.container-Img-Bestchoic {
  border: solid 1px black;
  border-radius: 5%;
  padding: 1.2rem;
  margin: 2%;
}

.container-Infos-Bestchoic {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goproductlist {
  display: flex;
  justify-content: end;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
}

.nutri-score{
  display: flex;
  width: 10rem;
  height: auto;
}