.navbar {
    display: flex;
    background-color: #FFEBB0;
    justify-content: space-around;
    align-items:center;
    border: solid black 1px;
}

.main-logo{
    width: 4.5rem;
    margin-left:0.5rem ;

}
.barcode-logo2{
    width: 3rem;
    margin:1.3rem  0 0 3rem ;
}

