.navbar {
  display: flex;
  background-color: #ffebb0;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid black 1px;
}

.main-logo {
  width: 4.5rem;
  margin-left: 0.2rem;
}
.barcode-logo2 {
  width: 3rem;
  margin: 1rem 0 0 1.5rem;
}

@media screen and (min-width: 800px) {
  .navbar {
    justify-content: space-between;
  }
  .main-logo {
    margin-left: 3rem;
  }
}
