.test-title {
  color: rgb(71, 71, 255);
  padding-bottom: 1rem;
}

.searchBar {
  text-align: center;
  padding: 2rem 1rem;
}

.searchBar input {
  font-size: 1.2rem;
}

.search-results {
  text-align: center;
  padding: 1rem 1rem;
  width: 100%;
}

.search-result {
  border: 1px solid #eee;
  margin: 1rem 1rem;
  padding: 1rem;
}

.Container {
  margin-bottom: 1rem;
  color: green;
}

.Container h1 {
  padding-bottom: 1rem;
}

.map-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1rem;
  margin-left: 2vh;
  margin-right: 2vh;
}

figure {
  display: flex;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border-bottom: solid 1px green;
  padding: 0.3rem;
  padding-bottom: 1rem;
}

figure:hover {
  opacity: 0.6;
}

.images {
  display: block;
  width: 8.5rem;
  height: 8.5rem;
  object-fit: contain;
}

.items {
  text-align: start;
  align-items: flex-start;
  width: 25vh;
  font-size: 1rem;
  margin-left: 3vh;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 65, 0);
}

.button-css {
  background-color: #ffebb0;
  border-radius: 20px;
  padding-left: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: solid 1px black;
}

.button-css:hover {
  background-color: rgb(0, 65, 0);
  color: white;
}

.input-css {
  background-color: #f8f1dd;
  width: 20vh;
  border-radius: 20px;
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: solid 1px black;
}

.nutri-list {
  height: 4.5vh;
  width: 20vw;
  margin-left: 1vh;
  margin-top: 2vh;
}
.figcaption {
  font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
  .input-css {
    width: 42vh;
    height: 4vh;    
    font-size: 1.2rem;
  }
  .button-css {
    width: 7vh;
    height: 4vh;
    font-size: 1.2rem;
  }
  figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 40vh;
    height: 35vh;
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: #fff1c500;
  }

  .map-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .images {
    width: 150px;
    height: 150px;
  }
  .items {
    text-align: center;
    align-items: center;
    width: 40vh;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  figcaption {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .nutri-list {
    height: 6vh;
    width: 10vw;
    margin-top: 2vh;
  }
}
