.test-title {
  color: rgb(71, 71, 255);
  padding-bottom: 1rem;
}

.searchBar {
  text-align: center;
  padding: 2rem 1rem;
}

.searchBar input {
  font-size: 1.2rem;
}

.search-results {
  text-align: center;
  padding: 1rem 1rem;
  width: 100%;
}

.search-result {
  border: 1px solid #eee;
  margin: 1rem 1rem;
  padding: 1rem;
}

.Container {
  margin-bottom: 1rem;
  color: green;
}

.Container h1 {
  padding-bottom: 1rem;
}

.map-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1rem;
}

figure {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: solid 1px black;
  padding: 0.3rem;
}

.images {
  display: block;
  width: 78px;
  height: 78px;
  object-fit: contain;
}

.items {
  text-align: start;
  align-items: flex-start;
  width: 40vh;
}


a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 65, 0);
}

.button-css {
  background-color: #ffebb0;
  border-radius: 7px;
}

.input-css {
  background-color: white;
  width: 20vh;
  border-radius: 7px;
}

@media screen and (min-width: 800px) {
  .form-css {
    margin-right: 3rem;
  }
  .input-css {
    width: 30vh;
    height: 3vh;
  }
  .button-css {
    height: 3vh;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .images {
    width: 150px;
    height: 150px;
  }
  .items {
    text-align: center;
    align-items: center;
    width: 40vh;
  }
  figcaption {
    text-align: center;
    margin-top: 1rem;
  }
}
