.test-title {
  color: rgb(71, 71, 255);
  padding-bottom: 1rem;
}

.searchBar {
  text-align: center;
  padding: 2rem 1rem;
}

.searchBar input {
  font-size: 1.2rem;
}

.search-results {
  text-align: center;
  padding: 1rem 1rem;
  width: 100%;
}

.search-result {
  border: 1px solid #eee;
  margin: 1rem 1rem;
  padding: 1rem;
}

.Container {
  margin-bottom: 1rem;
  color: green;
}

.Container h1 {
  padding-bottom: 1rem;
}

.map-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

figure {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-bottom: solid 1px green;
  padding: 0.3rem;
  padding-bottom: 1rem;
}

figure:hover {
  opacity: 0.6;
}

.images {
  display: flex;
  width: 4rem;
  height: 5rem;
  object-fit: contain;
}

.items {
  align-items: flex-end;
  margin-left: 2rem;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: green;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 65, 0);
}

.button-css {
  background-color: #ffebb0;
  border-radius: 20px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: solid 1px black;
  font-size: 1rem;
}

.button-css:hover {
  background-color: rgb(0, 65, 0);
  color: white;
}

.input-css {
  background-color: #f8f1dd;
  width: 10rem;
  border-radius: 20px;
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: solid 1px black;
  font-size: 1rem;
}

.nutri-list {
  height: 2rem;
  width: 5rem;
  margin-left: 1.7rem;
  margin-top: 0.9rem;
}

.nutri-listNone {
  height: 2.4rem;
  width: 3.5rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.figcaption {
  font-size: 0.8rem;
}

@media screen and (min-width: 650px) {
  .input-css {
    width: 22rem;
    height: 2.8rem;
  }
  .button-css {
    width: 3.5rem;
    height: 2.8rem;
  }
  figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 21rem;
    height: 23rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #fff1c500;
  }

  .map-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .images {
    width: 10rem;
    height: 12rem;
  }
  .items {
    text-align: center;
    margin-left: 0;
    font-size: 1.3rem;
  }

  figcaption {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nutri-list {
    display: flex;
    height: 2.5rem;
    width: 15rem;
    margin-top: 1.5rem;
    margin-left: 0;
  }
  a {
    font-size: 1.2rem;
  }
  .nutri-listNone {
    height: 2.5rem;
    width: 4.5rem;
    margin-left: 0.5rem;
    margin-top: 2vh;
  }
}
